
<% if @transits.empty? %>
	<div class="ef animated fadeIn">
	  <i class="fa fa-retweet fa-4x"></i><br>
	  <p>Non sono presenti <strong>transiti</strong> al momento</p>
	</div>	
<% end %>

<script type="text/javascript">
	  $('.menu').removeClass('active');
    $('#transits').addClass('active');
</script>