

<div class="ef animated fadeIn">
	<i class="fa fa-line-chart fa-4x"></i><br>
	<p>Pagina la momento non disponibile.</p>
</div>	

<script type="text/javascript">
	  $('.menu').removeClass('active');
    $('#stats').addClass('active');
</script>