<footer class="footer">
  <div class="container">
    <!-- <div>
        <a href="http://www.legsolution.com" target="_blank"><img src="/assets/lg.png" width="160px;"></a>
    </div> -->
    <span>© <%= Time.now.year %> - L&amp;G Solution - All Rights Reserved.</span>
  </div>
</footer>