<div class="row">
	<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
	 	<%= form_for @user, :html => {:multipart => true, :id => "update_user" , :class => "form-horizontal"} ,:url => admins_users_update_path(id: @user.id) do |f| %>
		 	<%= render partial: "form", :locals => { :@user => @user, :f => f } %>
		 	<div class="form-group">
	 			<div class="controls">
	 				<%= f.submit "Modifica", class: 'btn btn-danger pull-right' %>
					<%= link_to admins_users_show_path(id: @user.id), class: 'btn btn-default  pull-right', style: 'margin-right:10px',  'data-turbolinks-track' => false do %> Annulla <% end %>
	 			</div>
	 		</div>
		<% end %>
	</div>
</div>


<script type="text/javascript">
	$('.nav > li').removeClass('active');
  $('#users').addClass('active');
</script>