
<div class="row">
	<div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
	 	<%= form_for @user, :html => {:multipart => true, :id => "new_user" , :class => "form-horizontal"} ,:url => admins_users_create_path do |f| %>
		 	<%= render partial: "form", :locals => { :@user => @user, :f => f }%>
			<div class="form-group">
	 			<div class="controls">
	 				<%= link_to admins_users_path, class: 'btn btn-default',  'data-turbolinks-track' => false do %> Annulla <% end %>
		 			<%= f.submit "Aggiungi", class: 'btn btn-primary' %>
				</div>
			</div>
		<% end %>
	</div>
</div>

