<script>
	$('.nav > li').removeClass('active');
  $('#exonerations').addClass('active');   
</script>

<div class="ef">
	  <i class="fa fa-times fa-4x"></i><br>
	  <p>Funzionalità al momento non disponibile
</div>