

<br />
<br />
<div class="container">
<div class="row">
    <div class="col-lg-12">
    	<div class="panel panel-default">
                        <div class="panel-heading">
                            
                                <h1><strong>Documenti</strong></h1>
                            
                        </div>
                        <div class="panel-body">
		<span class="text-justify"><p>Nell’esercizio della professione, l’avvocato è tenuto a realizzare il principio di competenza a vantaggio dell’interesse pubblico – e quindi dei cittadini - alla corretta prestazione professionale ed alla migliore amministrazione della giustizia.</p>

		<p><strong>A questo fine, è tenuto a curare la formazione nell’arco di tutta la vita professionale.</strong></p>

		<p>Il dovere di formazione continua è stato dapprima introdotto nel Codice deontologico forense e disciplinato dal CNF con un proprio regolamento adottato a luglio 2007.</p>

		<p><strong>Ora tale dovere è consacrato, divenendo obbligo di legge,  nell’articolo 11 della Nuova disciplina dell’ordinamento professionale forense (Legge 247/2012) e nel regolamento CNF attuativo della riforma (n. 6/2014); oltre che nel Nuovo Codice deontologico forense. </strong></p>

		<p>In questa pagina sono pubblicati i regolamenti che sovraintendono all’adempimento di tale obbligo, tenendo conto dell' avvicendarsi  delle normative avvenuto  il primo gennaio 2015.
		Sono pubblicati anche le circolari e gli altri documenti utili per orientarsi.</p>

		<p><strong>FASE TRANSITORIA.</strong> Si specifica che in fase di prima applicazione del nuovo regolamento, per gli avvocati e praticanti abilitatati che risultino già iscritti negli albi alla data di entrata in vigore del nuovo regolamento, il primo periodo di valutazione triennale decorre dal primo gennaio 2014.
		Inoltre, ai fini della maturazione dei crediti formativi, sono fatti salvi gli eventi già accreditati secondo le disposizioni previgenti.</p></span>

		<br>
		<p><%= image_tag "icons/pdf.png", style: 'width: 36px'%> <a href="http://www.consiglionazionaleforense.it/site/home/formazione/formazione-continua/documento8550.html">Regolamento 16 luglio 2014, n. 6 - Formazione continua</a> </p>
		<p><%= image_tag "icons/pdf.png", style: 'width:36px'%> <a href="http://www.consiglionazionaleforense.it/site/home/formazione/formazione-continua/documento8999.html">Relazione di accompagnamento al Regolamento 16 luglio 2014, n. 6 - Formazione continua</a> </p>
		</div>
		</div>
    </div>
</div>
</div>
