

<% if @events.empty? %>
    <i class="fa fa-calendar fa-5x"></i>&nbsp;&nbsp; <span style="font-size:24px">Nessun evento presente in calendario</span><br><br>
<% else %>
  <br>  
  <div class="row list-table">
        <%= render :partial => 'events'%>   
  </div>
<% end %>




<!-- <div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                Default Panel
             </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
            </div>
        </div>
    </div>
</div> -->