
<div class="row">
	<div class="center-page-admin animated fadeInUp">
		<div class="c100 p<%= ((session[:credits].to_f / 4) * 100).to_i %> big verybig center green"  style="margin-top:50px">
	  	<span><%= session[:credits].to_i %></span>
	  	<div class="slice"><div class="bar"></div><div class="fill"></div></div>
		</div>
		<div class="text-center" style="margin-top:10px"><span class="text-center" style="font-size: 24px;color:#51B343"><%= session[:credits].to_i == 1 ? 'credito' : 'crediti' %>	</span></div>
	</div>
</div>


<script type="text/javascript">
	  $('.menu').removeClass('active');
    $('#events').addClass('active');
</script>