<div class="footer">
    <div class="pull-right">
        &nbsp;<!--E' possibile aggiungere testo allineato a destra -->
    </div>
    <div>
        <strong>Copyright</strong> L&G Solution &copy; 2015
    </div>
</div>
