<p> Spett. le <%= @resource.email %> </p>

<p> Qualcuno ha chiesto un link per cambiare la tua password. È possibile farlo tramite il link sottostante. </p>

<p><%= link_to 'Cambia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Se non hai richiesto questo, ignora questa email. </p>
<p> La password non cambierà fino a quando si accede al link qui sopra e crearne una nuova. </p>